<h1>Código a incluir en TS para el correcto funcionamiento</h1>
<pre>
<span>Imports</span>
import &#123; NotificationService &#125; from '&#64;agroseguro/lib-ui-agroseguro';

<span>Dentro de la clase del componente incluir:</span>

readonly #viewContainerRef = inject(ViewContainerRef);
readonly #notificationService = inject(NotificationService);

showNotification() &#123;
  this.#notificationService.showNotification(this.#viewContainerRef, &#123; message: 'Operación
  cancelada', hasError: true, &#125;);
&#125;
</pre>

<h1>Propiedades input&lt;&gt;() del componente</h1>
<pre>
<span>message</span> : texto de la notificacion
<span>hasError</span> : True si es un error , false si no lo es
<span>autoClear</span> : Boolean para eliminar la notificación de forma automatica tras 3 segundos
</pre>

<h1>Notificaciones</h1>
<div class="flex__h">
	<ui-button
		text="Ver confirmacion"
		additionalClasses="btn__primary"
		(click)="showNotification('Operación existosa', false)"
	></ui-button>
	<ui-button
		text="Ver error"
		additionalClasses="btn__secondary"
		(click)="showNotification('Operación cancelada', true)"
	></ui-button>
</div>
