@use '../../../assets/variables' as *;
@use '../../../assets/base' as *;

.header {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	gap: 8px;
	padding: 24px 48px;
	box-shadow: 0px 2px 4px 0px $color-shadow;
	&__logo {
		img {
			height: 60px;
		}
	}
	&__appName {
		@include body-bold;
		font-size: 18px;
		color: $color-primary-black;
		span {
			color: $color-primary-green;
		}
	}
}
