@use '../../../assets/variables' as *;
@use '../../../assets/base' as *;
@use '../../../assets/extensible' as *;
@use '../../../assets/icons/variables.scss' as *;

.fieldPassword {
	display: flex;
	flex-direction: column;
	@include body-regular;
	font-size: 14px;
	width: fit-content;

	&.error {
		.fieldPassword__content {
			background: $color-error;
			border-color: $color-primary-red;
			input[type='text'] {
				color: $color-primary-red;
				&::placeholder {
					color: $color-primary-red;
				}
			}

			i {
				color: $color-primary-red;
			}
		}
	}

	&__field {
		width: fit-content;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		gap: 8px;
		font-size: 14px;
		border: 1px solid $color-grey;
		border-radius: 4px;
		padding: 12px;
		background: $color-white;
		box-shadow: 0px 0px 2px 0px $color-shadow;

		i {
			font-size: 18px;
			color: $color-primary-green;
			&.icon-eye,
			&.icon-eye-closed {
				cursor: pointer;
			}
		}

		input[type='password'],
		input[type='text'] {
			@include body-regular;
			width: 112px;
			font-size: 14px;
			background: transparent;
			border: none;
			color: $color-secondary-black-66;
			&::placeholder {
				color: $color-grey;
				&:first-letter {
					text-transform: capitalize;
				}
			}
			&:focus-visible {
				outline: none;
			}
		}

		&:has(input[type='text']:focus-visible),
		&:has(input[type='password']:focus-visible) {
			border: 1px solid $color-secondary-black-66;
		}

		input[type='text']:-webkit-autofill,
		input[type='text']:-webkit-autofill:hover,
		input[type='text']:-webkit-autofill:focus,
		input[type='text']:-webkit-autofill:active,
		input[type='password']:-webkit-autofill,
		input[type='password']:-webkit-autofill:hover,
		input[type='password']:-webkit-autofill:focus,
		input[type='password']:-webkit-autofill:active {
			-webkit-background-clip: text;
			-webkit-text-fill-color: $color-secondary-black-66;
		}
	}

	&__errorMessage {
		color: $color-primary-red;
		width: 220px;
		font-size: 13px;
		white-space: normal;
		overflow-wrap: break-word;
	}
}
