@use '@ui-styles/_variables.scss' as *;
@use '@ui-styles/_base.scss' as *;

.modalTest {
	display: flex;
	flex-direction: column;
	align-items: center;

	&__actions {
		margin-top: 12px;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 12px;
	}
}
