<h1>Código a incluir en TS para el correcto funcionamiento</h1>
<pre>
<span>Imports</span>
import: &#123; UiDateComponent &#125; from '&#64;agroseguro/lib-ui-agroseguro';

<span>Dentro del decorador &#64;Component incluir:</span>
imports: [UiDateComponent]
</pre>

<h1>Código de ejemplo HTML</h1>
<code>
	&lt;ui-date <br />[required]="true" <br />label="Etiqueta"<br />helpText="Texto de ayuda de un
	campo de tipo fecha" <br />&lt;/ui-date&gt;
</code>
<br />
<br />

<p>
	<span>** Para ver el funcionamiento completo, ver ejemplo de formulario reactivo en Inputs</span>
</p>

<h1>Propiedades input&lt;&gt;() del componente</h1>
<pre>
<span>placeholder</span> : Placeholder del campo
<span>label</span> : Etiqueta del campo
<span>helpText</span> : Texto de ayuda del campo
<span>[required]</span> : Valor booleano para indicar si es requerido o no
<span>[disabled]</span> : Valor booleano para disabled
<span>[selectOptions]</span> : Opciones del select
<span>[selectedOption]</span> : Opcion seleccionada por defecto
<span>[align]</span> : Propiedad para elegir la alineación enum <span>'column' | 'row'</span> por defecto a column
<span>[width]</span> : Ancho en píxeles, por defecto a <span>100%</span>
<span>[error]</span>: Propiedad para controlar el estado de error
<span>errorMessage</span>: Texto de error a mostrar
</pre>

<h1>Propiedades output&lt;&gt;() del componente</h1>
<pre>
<span>selectChanges</span> : Evento que emite cuando hay cambios en el inputs
</pre>

<h1>Inputs de tipo select</h1>
<div class="flex__h">
	<ui-date
		[required]="true"
		label="Etiqueta"
		placeholder="PlaceholderText"
		helpText="Texto de ayuda de un campo de tipo fecha"
	></ui-date>

	<ui-date
		[required]="true"
		label="Etiqueta"
		placeholder="PlaceholderText"
		helpText="Texto de ayuda de un campo de tipo fecha"
		[disabled]="true"
	></ui-date>

	<ui-date
		[required]="true"
		label="Etiqueta"
		placeholder="PlaceholderText"
		helpText="Texto de ayuda de un campo de tipo fecha"
		[error]="true"
		errorMessage="Mensaje de error"
	></ui-date>
</div>
<div class="flex__h">
	<ui-date
		[required]="true"
		[align]="'row'"
		label="Etiqueta"
		placeholder="PlaceholderText"
		helpText="Texto de ayuda de un campo de tipo fecha"
	></ui-date>
</div>
