@use '../../../assets/variables' as *;
@use '../../../assets/base' as *;
@use '../../../assets/extensible' as *;
@use '../../../assets/icons/variables.scss' as *;

.fieldSelect {
	display: flex;
	flex-direction: column;
	gap: 8px;
	@include body-regular;
	font-size: 14px;
	width: fit-content;

	&__main {
		display: flex;
		flex-direction: column;
		gap: 8px;
		width: fit-content;
		&--row {
			flex-direction: row;
			gap: 12px;
			.fieldSelect__label {
				padding-top: 12px;
			}
		}
	}

	&__label {
		display: flex;
		flex-direction: row;
		gap: 4px;
		width: fit-content;

		label {
			@include body-bold;
			font-size: 14px;
			color: $color-secondary-black-66;
		}

		&--required {
			color: $color-primary-red;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	&__field {
		position: relative;
		height: 44px;
		border: 1px solid $color-grey;
		border-radius: 4px;
		color: $color-secondary-black-66;
		background: $color-white;
		box-shadow: 0px 0px 2px 0px $color-shadow;

		&::before {
			@extend %icon;
			content: $icon-arrow-down;
			position: absolute;
			right: 6px;
			top: 10px;
			font-size: 24px;
			color: $color-secondary-black-66;
		}

		select {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			padding: 12px 12px 12px 12px;
			opacity: 1;
			cursor: pointer;
			appearance: none;
			-webkit-appearance: none;
			border: none;
			@include body-regular;
			font-size: 14px;
			color: $color-secondary-black-66;
			background: transparent;
			&:focus-visible {
				outline: none;
			}
			text-overflow: ellipsis;
		}

		&:has(select:focus-visible) {
			border: 1px solid $color-secondary-black-66;
		}
	}

	&__helpText {
		color: $color-secondary-black-33;
		width: fit-content;
		font-size: 12px;
	}

	&__errorMessage {
		color: $color-primary-red;
		width: 190px;
		font-size: 13px;
		white-space: normal;
		overflow-wrap: break-word;
	}

	&.disabled {
		.fieldSelect__field {
			background: $color-grey-02;
			cursor: not-allowed;
			select {
				pointer-events: none;
			}
		}
	}

	&.error {
		.fieldSelect__field {
			background: $color-error;
			border-color: $color-primary-red;
			&::before {
				color: $color-primary-red;
			}
			select {
				color: $color-primary-red;
			}
			select option {
				color: $color-secondary-black-66;
			}
		}
	}
}
