@use '../../../assets/variables' as *;
@use '../../../assets/base' as *;

.notification {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	padding: 12px 24px 12px 12px;
	border-radius: 12px;
	width: fit-content;
	transition: all 0.3s ease-in-out; /* Para animar las notificaciones */
	box-shadow: 0px 4px 10px $color-shadow;

	&__icon {
		display: flex;
		align-items: center;
		padding: 8px;
		border-radius: 50%;
		background: $color-white;
	}

	&__message {
		@include body-regular;
		color: $color-white;
		margin-right: 24px;
	}

	i {
		font-size: 18px;
		color: $color-white;
		&.icon-cross {
			cursor: pointer;
		}
	}

	&.error {
		background: $color-secondary-red-80;
		.notification__icon {
			i {
				font-size: 24px;
				color: $color-primary-red;
			}
		}
	}

	&.success {
		background: $color-primary-green;
		.notification__icon {
			i {
				font-size: 24px;
				color: $color-primary-green;
			}
		}
	}
}
