@use '../../../../assets/variables' as *;
@use '../../../../assets/base' as *;

a {
	flex-grow: 1;
	text-decoration: none;
	&.hide {
		display: none;
	}
	.appItem {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		gap: 8px;
		padding: 16px 12px;
		background: $color-secondary-green-80;
		border-radius: 12px;
		box-shadow: 0px 0px 3px 0px $color-shadow;
		&__title {
			@include body-regular;
			color: $color-white;
		}
		i {
			color: $color-white;
			cursor: pointer;
			&.icon-starfilled {
				color: $color-primary-yellow !important;
			}
		}
		&.disabled {
			cursor: not-allowed;
			background: $color-secondary-black-10;
			i {
				cursor: not-allowed;
			}
		}
	}
}
