@use '../../../assets/variables' as *;
@use '../../../assets/base' as *;

.switch {
	position: relative;
	display: flex;

	input {
		opacity: 0;
		width: 0;
		height: 0;
	}

	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		box-shadow: 0px 0px 2px 0px $color-shadow;
		border: 1px solid $color-white;
		border-radius: 16px;
		-webkit-transition: 0.4s;
		transition: 0.4s;
	}

	&.text {
		width: 72px;
		height: 36px;

		.slider {
			&__round {
				position: absolute;
				border-radius: 50%;
				background: $color-white;
				box-shadow: 0px 0px 2px 0px $color-shadow;
				-webkit-transition: 0.4s;
				transition: 0.4s;
				top: 4px;
				left: 5px;
				width: 26px;
				height: 26px;
			}

			&__text {
				@include body-bold;
				font-size: 16px;
				color: $color-white;
				position: absolute;
				top: 6px;
				right: 8px;
				-webkit-transition: 0.4s;
				transition: 0.4s;
			}
		}

		input:not(:checked) + .slider {
			background: $color-primary-red;
		}

		input:checked + .slider {
			background: $color-primary-green;
			.slider__round {
				-webkit-transform: translateX(34px);
				-ms-transform: translateX(34px);
				transform: translateX(34px);
			}
			.slider__text {
				-webkit-transform: translateX(-28px);
				-ms-transform: translateX(-28px);
				transform: translateX(-28px);
			}
		}
	}

	&.noText {
		width: 30px;
		height: 18px;

		.slider {
			&__round {
				position: absolute;
				border-radius: 50%;
				background: $color-white;
				box-shadow: 0px 0px 2px 0px $color-shadow;
				-webkit-transition: 0.4s;
				transition: 0.4s;
				top: 1px;
				left: 1px;
				width: 14px;
				height: 14px;
			}
		}

		input:not(:checked) + .slider {
			background: $color-primary-red;
		}

		input:checked + .slider {
			background: $color-primary-green;
			.slider__round {
				-webkit-transform: translateX(12px);
				-ms-transform: translateX(12px);
				transform: translateX(12px);
			}
		}
	}
}
