<h1>Código a incluir en TS para el correcto funcionamiento</h1>
<pre>
<span>Imports</span>
import &#123; UiButtonComponent &#125; from '&#64;agroseguro/lib-ui-agroseguro';

<span>Dentro del decorador &#64;Component incluir:</span>
imports: [UiButtonComponent]
</pre>

<h1>Código de ejemplo HTML</h1>
<code>
	&lt;ui-button text="Ejemplo Primary" icon="icon-arrow-down" additionalClasses="btn__primary xl
	iFirst" [disabled]="false" &gt;&lt;/ui-button&gt;
</code>

<h1>Propiedades input() del componente</h1>
<pre>
<span>text</span> : Texto del botón.
<span>icon</span> : Icono a mostrar.
<span>[disabled]</span> : Boolean para deshabilitar el botón.
<span>additionalClasses</span> :
  <span>btn__primary</span> : Estilos de botón primario, fondo verde.
  <span>btn__primary--red</span> : Estilos de botón primario, fondo rojo.
  <span>btn_secondary</span> : Estilos de botón secundario, fondo blanco con borde verde.
  <span>xl</span> : Tamaño del botón.
  <span>iFirst</span> : Estilos para situar el icono a la izquierda.
</pre>

<h1>Tipos de botones</h1>
<div class="flex__h">
	<ui-button
		text="Ejemplo Primary"
		additionalClasses="btn__primary xl"
		icon="icon-icon"
	></ui-button>
	<ui-button
		text="Ejemplo Primary red"
		additionalClasses="btn__primary--red xl iFirst"
		icon="icon-icon"
	></ui-button>
	<ui-button
		text="Ejemplo Secondary"
		additionalClasses="btn__secondary xl"
		icon="icon-icon"
	></ui-button>
	<ui-button
		text="Ejemplo Disabled"
		additionalClasses="btn__primary xl"
		[disabled]="true"
	></ui-button>
</div>
