@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?9z0wjz');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?9z0wjz#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?9z0wjz') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?9z0wjz') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?9z0wjz##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-boxs-bg .path1 {
  &:before {
    content: $icon-boxs-bg-path1;  
    color: rgb(120, 120, 120);
  }
}
.icon-boxs-bg .path2 {
  &:before {
    content: $icon-boxs-bg-path2;  
    margin-left: -1em;  
    color: rgb(250, 251, 252);
  }
}
.icon-mark-bg .path1 {
  &:before {
    content: $icon-mark-bg-path1;  
    color: rgb(120, 120, 120);
  }
}
.icon-mark-bg .path2 {
  &:before {
    content: $icon-mark-bg-path2;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-copy-bg .path1 {
  &:before {
    content: $icon-copy-bg-path1;  
    color: rgb(120, 120, 120);  
    opacity: 0.9098;
  }
}
.icon-copy-bg .path2 {
  &:before {
    content: $icon-copy-bg-path2;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-copy-bg .path3 {
  &:before {
    content: $icon-copy-bg-path3;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-copy-bg .path4 {
  &:before {
    content: $icon-copy-bg-path4;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-lightning-bg .path1 {
  &:before {
    content: $icon-lightning-bg-path1;  
    color: rgb(120, 120, 120);
  }
}
.icon-lightning-bg .path2 {
  &:before {
    content: $icon-lightning-bg-path2;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-dolar {
  &:before {
    content: $icon-dolar;     
    color: #787878;
  }
}
.icon-list {
  &:before {
    content: $icon-list;     
    color: #787878;
  }
}
.icon-filters {
  &:before {
    content: $icon-filters;     
    color: #787878;
  }
}
.icon-question {
  &:before {
    content: $icon-question;     
    color: #787878;
  }
}
.icon-plus {
  &:before {
    content: $icon-plus;     
    color: #727274;
  }
}
.icon-starfilled {
  &:before {
    content: $icon-starfilled; 
  }
}
.icon-logout {
  &:before {
    content: $icon-logout; 
  }
}
.icon-star {
  &:before {
    content: $icon-star; 
  }
}
.icon-add {
  &:before {
    content: $icon-add; 
  }
}
.icon-arrow-double-left {
  &:before {
    content: $icon-arrow-double-left; 
  }
}
.icon-arrow-double-right {
  &:before {
    content: $icon-arrow-double-right; 
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down; 
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left; 
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right; 
  }
}
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up; 
  }
}
.icon-bell {
  &:before {
    content: $icon-bell; 
  }
}
.icon-Calendar {
  &:before {
    content: $icon-Calendar; 
  }
}
.icon-check {
  &:before {
    content: $icon-check; 
  }
}
.icon-check-circle {
  &:before {
    content: $icon-check-circle; 
  }
}
.icon-copy {
  &:before {
    content: $icon-copy; 
  }
}
.icon-cross {
  &:before {
    content: $icon-cross; 
  }
}
.icon-danger {
  &:before {
    content: $icon-danger; 
  }
}
.icon-download {
  &:before {
    content: $icon-download; 
  }
}
.icon-edit {
  &:before {
    content: $icon-edit; 
  }
}
.icon-excel .path1 {
  &:before {
    content: $icon-excel-path1;  
    color: rgb(24, 92, 55);
  }
}
.icon-excel .path2 {
  &:before {
    content: $icon-excel-path2;  
    margin-left: -1em;  
    color: rgb(33, 163, 102);
  }
}
.icon-excel .path3 {
  &:before {
    content: $icon-excel-path3;  
    margin-left: -1em;  
    color: rgb(16, 124, 65);
  }
}
.icon-excel .path4 {
  &:before {
    content: $icon-excel-path4;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);  
    opacity: 0.1;
  }
}
.icon-excel .path5 {
  &:before {
    content: $icon-excel-path5;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);  
    opacity: 0.2;
  }
}
.icon-excel .path6 {
  &:before {
    content: $icon-excel-path6;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);  
    opacity: 0.2;
  }
}
.icon-excel .path7 {
  &:before {
    content: $icon-excel-path7;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);  
    opacity: 0.2;
  }
}
.icon-excel .path8 {
  &:before {
    content: $icon-excel-path8;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.icon-excel .path9 {
  &:before {
    content: $icon-excel-path9;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-excel .path10 {
  &:before {
    content: $icon-excel-path10;  
    margin-left: -1em;  
    color: rgb(51, 196, 129);
  }
}
.icon-excel .path11 {
  &:before {
    content: $icon-excel-path11;  
    margin-left: -1em;  
    color: rgb(16, 124, 65);
  }
}
.icon-eye {
  &:before {
    content: $icon-eye; 
  }
}
.icon-eye-closed {
  &:before {
    content: $icon-eye-closed; 
  }
}
.icon-icon {
  &:before {
    content: $icon-icon; 
  }
}
.icon-lock {
  &:before {
    content: $icon-lock; 
  }
}
.icon-more {
  &:before {
    content: $icon-more; 
  }
}
.icon-refresh {
  &:before {
    content: $icon-refresh; 
  }
}
.icon-save {
  &:before {
    content: $icon-save; 
  }
}
.icon-search {
  &:before {
    content: $icon-search; 
  }
}
.icon-settings {
  &:before {
    content: $icon-settings; 
  }
}
.icon-trash {
  &:before {
    content: $icon-trash; 
  }
}
.icon-upload {
  &:before {
    content: $icon-upload; 
  }
}
.icon-user {
  &:before {
    content: $icon-user; 
  }
}

