@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?9z0wjz');
  src:  url('fonts/icomoon.eot?9z0wjz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9z0wjz') format('truetype'),
    url('fonts/icomoon.woff?9z0wjz') format('woff'),
    url('fonts/icomoon.svg?9z0wjz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-boxs-bg .path1:before {
  content: "\e929";
  color: rgb(120, 120, 120);
}
.icon-boxs-bg .path2:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(250, 251, 252);
}
.icon-mark-bg .path1:before {
  content: "\e92c";
  color: rgb(120, 120, 120);
}
.icon-mark-bg .path2:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-copy-bg .path1:before {
  content: "\e92e";
  color: rgb(120, 120, 120);
  opacity: 0.9098;
}
.icon-copy-bg .path2:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-copy-bg .path3:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-copy-bg .path4:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-lightning-bg .path1:before {
  content: "\e932";
  color: rgb(120, 120, 120);
}
.icon-lightning-bg .path2:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-dolar:before {
  content: "\e934";
  color: #787878;
}
.icon-list:before {
  content: "\e935";
  color: #787878;
}
.icon-filters:before {
  content: "\e936";
  color: #787878;
}
.icon-question:before {
  content: "\e937";
  color: #787878;
}
.icon-plus:before {
  content: "\e938";
  color: #727274;
}
.icon-starfilled:before {
  content: "\e928";
}
.icon-logout:before {
  content: "\e927";
}
.icon-star:before {
  content: "\e92b";
}
.icon-add:before {
  content: "\e900";
}
.icon-arrow-double-left:before {
  content: "\e901";
}
.icon-arrow-double-right:before {
  content: "\e902";
}
.icon-arrow-down:before {
  content: "\e903";
}
.icon-arrow-left:before {
  content: "\e904";
}
.icon-arrow-right:before {
  content: "\e905";
}
.icon-arrow-up:before {
  content: "\e906";
}
.icon-bell:before {
  content: "\e907";
}
.icon-Calendar:before {
  content: "\e908";
}
.icon-check:before {
  content: "\e909";
}
.icon-check-circle:before {
  content: "\e90a";
}
.icon-copy:before {
  content: "\e90b";
}
.icon-cross:before {
  content: "\e90c";
}
.icon-danger:before {
  content: "\e90d";
}
.icon-download:before {
  content: "\e90e";
}
.icon-edit:before {
  content: "\e90f";
}
.icon-excel .path1:before {
  content: "\e910";
  color: rgb(24, 92, 55);
}
.icon-excel .path2:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(33, 163, 102);
}
.icon-excel .path3:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(16, 124, 65);
}
.icon-excel .path4:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.1;
}
.icon-excel .path5:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.2;
}
.icon-excel .path6:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.2;
}
.icon-excel .path7:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.2;
}
.icon-excel .path8:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-excel .path9:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-excel .path10:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(51, 196, 129);
}
.icon-excel .path11:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(16, 124, 65);
}
.icon-eye:before {
  content: "\e91b";
}
.icon-eye-closed:before {
  content: "\e91c";
}
.icon-icon:before {
  content: "\e91d";
}
.icon-lock:before {
  content: "\e91e";
}
.icon-more:before {
  content: "\e91f";
}
.icon-refresh:before {
  content: "\e920";
}
.icon-save:before {
  content: "\e921";
}
.icon-search:before {
  content: "\e922";
}
.icon-settings:before {
  content: "\e923";
}
.icon-trash:before {
  content: "\e924";
}
.icon-upload:before {
  content: "\e925";
}
.icon-user:before {
  content: "\e926";
}
