$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-boxs-bg-path1: unquote('"\\e929"');
$icon-boxs-bg-path2: unquote('"\\e92a"');
$icon-mark-bg-path1: unquote('"\\e92c"');
$icon-mark-bg-path2: unquote('"\\e92d"');
$icon-copy-bg-path1: unquote('"\\e92e"');
$icon-copy-bg-path2: unquote('"\\e92f"');
$icon-copy-bg-path3: unquote('"\\e930"');
$icon-copy-bg-path4: unquote('"\\e931"');
$icon-lightning-bg-path1: unquote('"\\e932"');
$icon-lightning-bg-path2: unquote('"\\e933"');
$icon-dolar: unquote('"\\e934"');
$icon-list: unquote('"\\e935"');
$icon-filters: unquote('"\\e936"');
$icon-question: unquote('"\\e937"');
$icon-plus: unquote('"\\e938"');
$icon-starfilled: unquote('"\\e928"');
$icon-logout: unquote('"\\e927"');
$icon-star: unquote('"\\e92b"');
$icon-add: unquote('"\\e900"');
$icon-arrow-double-left: unquote('"\\e901"');
$icon-arrow-double-right: unquote('"\\e902"');
$icon-arrow-down: unquote('"\\e903"');
$icon-arrow-left: unquote('"\\e904"');
$icon-arrow-right: unquote('"\\e905"');
$icon-arrow-up: unquote('"\\e906"');
$icon-bell: unquote('"\\e907"');
$icon-Calendar: unquote('"\\e908"');
$icon-check: unquote('"\\e909"');
$icon-check-circle: unquote('"\\e90a"');
$icon-copy: unquote('"\\e90b"');
$icon-cross: unquote('"\\e90c"');
$icon-danger: unquote('"\\e90d"');
$icon-download: unquote('"\\e90e"');
$icon-edit: unquote('"\\e90f"');
$icon-excel-path1: unquote('"\\e910"');
$icon-excel-path2: unquote('"\\e911"');
$icon-excel-path3: unquote('"\\e912"');
$icon-excel-path4: unquote('"\\e913"');
$icon-excel-path5: unquote('"\\e914"');
$icon-excel-path6: unquote('"\\e915"');
$icon-excel-path7: unquote('"\\e916"');
$icon-excel-path8: unquote('"\\e917"');
$icon-excel-path9: unquote('"\\e918"');
$icon-excel-path10: unquote('"\\e919"');
$icon-excel-path11: unquote('"\\e91a"');
$icon-eye: unquote('"\\e91b"');
$icon-eye-closed: unquote('"\\e91c"');
$icon-icon: unquote('"\\e91d"');
$icon-lock: unquote('"\\e91e"');
$icon-more: unquote('"\\e91f"');
$icon-refresh: unquote('"\\e920"');
$icon-save: unquote('"\\e921"');
$icon-search: unquote('"\\e922"');
$icon-settings: unquote('"\\e923"');
$icon-trash: unquote('"\\e924"');
$icon-upload: unquote('"\\e925"');
$icon-user: unquote('"\\e926"');

