<h1>Código a incluir en TS para el correcto funcionamiento</h1>
<pre>
<span>Imports</span>
import: &#123; UiCheckboxComponent &#125; from '&#64;agroseguro/lib-ui-agroseguro';

<span>Dentro del decorador &#64;Component incluir:</span>
imports: [UiCheckboxComponent]
</pre>

<h1>Código de ejemplo HTML</h1>
<code>
	&lt;ui-input <br />[required]="true" <br />[options]="checkData" <br />[optionsLabels]="true"
	<br />label="Campo de texto normal"<br />
	placeholder="PlaceholderText" <br />helpText="Texto de ayuda de un campo normal"
	<br />&lt;/ui-input&gt;
</code>

<br /><br />

<p>
	<span>** Para ver el funcionamiento completo, ver ejemplo de formulario reactivo en Inputs</span>
</p>

<h1>Propiedades input&lt;&gt;() del componente</h1>
<pre>
<span>placeholder</span> : Placeholder del campo
<span>label</span> : Etiqueta del campo
<span>helpText</span> : Texto de ayuda del campo
<span>[required]</span> : Valor booleano para indicar si es requerido o no
<span>[disabled]</span> : Valor booleano para disabled
<span>[options]</span> : Opciones del radio
<span>[optionsLabels]</span> : Boolean para mostrar las labels
<span>[align]</span> : Propiedad para elegir la alineación enum <span>'column' | 'row'</span> por defecto a column
<span>[error]</span>: Propiedad para controlar el estado de error
<span>errorMessage</span>: Texto de error a mostrar
</pre>

<h1>Propiedadses output&lt;&gt;() del componente</h1>
<pre>
<span>radioChanges</span> : Evento que emite cuando hay cambios en el inputs
</pre>

<h1>Inputs de tipo radio</h1>
<div class="flex__h">
	<ui-checkbox
		[required]="true"
		text="texto del checkbox"
		name="radioCheck"
		label="Etiqueta"
		helpText="Texto de ayuda de un checkbox"
	></ui-checkbox>

	<ui-checkbox
		[required]="true"
		text="texto del checkbox"
		name="radioCheck"
		label="Etiqueta"
		helpText="Texto de ayuda de un checkbox"
		[disabled]="true"
	></ui-checkbox>

	<ui-checkbox
		[required]="true"
		text="texto del checkbox"
		name="radioCheck"
		label="Etiqueta"
		helpText="Texto de ayuda de un checkbox"
		[error]="true"
		errorMessage="Mensaje de error"
	></ui-checkbox>
</div>
<div class="flex__h">
	<ui-checkbox
		[required]="true"
		text="texto del checkbox"
		[align]="'row'"
		name="radioCheck"
		label="Etiqueta"
		helpText="Texto de ayuda de un checkbox"
		[error]="true"
		errorMessage="Mensaje de error"
	></ui-checkbox>
</div>
