#dev-grid {
	position: absolute;
	z-index: 9999999;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	pointer-events: none !important;
	background: repeating-linear-gradient(
		to bottom,
		rgba(red, 0.05),
		rgba(red, 0.05) 8px,
		transparent 8px,
		transparent 16px
	);
	.container,
	.container-fluid,
	.row,
	[class*='col'],
	.inner {
		height: 100%;
	}
	.inner {
		background: rgba(red, 0.05);
	}
}
