@font-face {
	font-family: 'Frutiger';
	src: url(./fonts/Frutiger.woff);
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FrutigerBold';
	src: url(./fonts/Frutiger_bold.woff);
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FrutigerLight';
	src: url(./fonts/Frutiger_light.woff);
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FrutigerRoman';
	src: url(./fonts/Frutiger_roman.woff);
	font-weight: normal;
	font-style: normal;
}
