// ============================================================================
// AGROSEGURO - UI CHECKBOX COMPONENT
// ============================================================================
@use '../../../assets/variables' as *;
@use '../../../assets/base' as *;

.checkbox {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-family: $font-family-primary;
  
  &__input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    
    &:checked + .checkbox__box {
      background: $color-primary-green;
      border-color: $color-primary-green;
      
      &::after {
        opacity: 1;
        transform: scale(1);
      }
    }
    
    &:focus + .checkbox__box {
      box-shadow: 0 0 0 3px rgba($color-primary-green, 0.2);
    }
    
    &:disabled + .checkbox__box {
      background: $color-grey-100;
      border-color: $color-grey-300;
      cursor: not-allowed;
    }
    
    &:disabled:checked + .checkbox__box {
      background: $color-grey-300;
    }
  }
  
  &__box {
    width: 20px;
    height: 20px;
    border: 2px solid $color-grey-300;
    border-radius: $radius-sm;
    background: $color-white;
    position: relative;
    transition: all $transition-fast;
    flex-shrink: 0;
    
    &::after {
      content: '';
      position: absolute;
      left: 6px;
      top: 2px;
      width: 5px;
      height: 10px;
      border: solid $color-white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg) scale(0);
      opacity: 0;
      transition: all $transition-fast;
    }
    
    &:hover {
      border-color: $color-primary-green;
    }
  }
  
  &__label {
    font-size: $font-size-sm;
    color: $color-primary-black;
    user-select: none;
    
    &--required {
      &::after {
        content: '*';
        color: $color-primary-red;
        margin-left: 4px;
      }
    }
  }
  
  &--disabled {
    cursor: not-allowed;
    
    .checkbox__label {
      color: $color-grey-400;
    }
  }
  
  &--error {
    .checkbox__box {
      border-color: $color-error;
    }
  }
}
