<h1>Código a incluir en TS para el correcto funcionamiento</h1>
<pre>
<span>Imports</span>
import: &#123; UiTextareaComponent &#125; from '&#64;agroseguro/lib-ui-agroseguro';

<span>Dentro del decorador &#64;Component incluir:</span>
imports: [UiTextareaComponent]
</pre>

<h1>Código de ejemplo HTML</h1>
<code>
	&lt;ui-textarea <br />[required]="true"<br />label="Campo de texto normal"<br />
	placeholder="PlaceholderText" <br />helpText="Texto de ayuda de un campo normal"
	<br />icon="icon-icon" <br />additionalClasses="iFirst"&gt;<br />&lt;/ui-textarea&gt;
</code>

<br /><br />

<p>
	<span>** Para ver el funcionamiento completo, ver ejemplo de formulario reactivo en Inputs</span>
</p>

<h1>Propiedades input&lt;&gt;() del componente</h1>
<pre>
<span>placeholder</span> : Placeholder del campo
<span>label</span> : Etiqueta del campo
<span>helpText</span> : Texto de ayuda del campo
<span>[required]</span> : Valor booleano para indicar si es requerido o no
<span>[disabled]</span> : Valor booleano para disabled
<span>[align]</span> : Propiedad para elegir la alineación enum <span>'column' | 'row'</span> por defecto a column
<span>[width]</span> : Ancho en píxeles, por defecto a <span>100%</span>
<span>[error]</span>: Propiedad para controlar el estado de error
<span>errorMessage</span>: Texto de error a mostrar
</pre>

<h1>Propiedades output&lt;&gt;() del componente</h1>
<pre>
<span>textAreaChanges</span> : Evento que emite cuando hay cambios en el inputs
</pre>

<h1>Inputs de tipo texto</h1>
<div class="flex__h">
	<ui-textarea
		[required]="true"
		label="Etiqueta"
		placeholder="PlaceholderText"
		helpText="Texto de ayuda de un campo normal"
	></ui-textarea>

	<ui-textarea
		[required]="true"
		label="Etiqueta"
		placeholder="PlaceholderText"
		helpText="Texto de ayuda de un campo normal"
		[disabled]="true"
	></ui-textarea>

	<ui-textarea
		[required]="true"
		label="Etiqueta"
		placeholder="PlaceholderText"
		helpText="Texto de ayuda de un campo normal"
		[error]="true"
		[width]="280"
		errorMessage="Mensaje de error"
	></ui-textarea>
</div>
<div class="flex__h">
	<ui-textarea
		[required]="true"
		[align]="'row'"
		[width]="280"
		label="Etiqueta"
		placeholder="PlaceholderText"
		helpText="Texto de ayuda de un campo normal"
	></ui-textarea>
</div>
