@use '../../../assets/variables' as *;
@use '../../../assets/base' as *;
@use '../../../assets/extensible' as *;
@use '../../../assets/icons/variables.scss' as *;

.fieldTextArea {
	display: flex;
	flex-direction: column;
	gap: 8px;
	@include body-regular;
	font-size: 14px;

	&__main {
		display: flex;
		flex-direction: column;
		gap: 8px;
		&--row {
			flex-direction: row;
			gap: 12px;
			.fieldText__label {
				padding-top: 12px;
			}
		}
	}

	&__label {
		display: flex;
		flex-direction: row;
		gap: 4px;
		width: fit-content;

		label {
			@include body-bold;
			font-size: 14px;
			color: $color-secondary-black-66;
		}

		&--required {
			color: $color-primary-red;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	&__field {
		border: 1px solid $color-grey;
		border-radius: 4px;
		padding: 12px;
		background: $color-white;
		box-shadow: 0px 0px 2px 0px $color-shadow;
		i {
			font-size: 24px;
			color: $color-secondary-black-66;
		}

		textarea {
			@include body-regular;
			font-size: 14px;
			height: 52px;
			background: transparent;
			border: none;
			color: $color-secondary-black-66;
			&::placeholder {
				color: $color-grey;
				&:first-letter {
					text-transform: capitalize;
				}
			}
			&:focus-visible {
				outline: none;
			}
			&:disabled,
			&:read-only {
				cursor: not-allowed;
			}
		}

		&:has(textarea:focus-visible) {
			border: 1px solid $color-secondary-black-66;
		}
	}

	&__helpText {
		@include body-regular;
		color: $color-secondary-black-33;
		width: fit-content;
		font-size: 12px;
	}

	&__errorMessage {
		@include body-regular;
		color: $color-primary-red;
		width: 190px;
		font-size: 13px;
		white-space: normal;
		overflow-wrap: break-word;
	}

	&.disabled {
		.fieldTextArea__field {
			background: $color-grey-02;
		}
	}

	&.error {
		.fieldTextArea__field {
			background: $color-error;
			border-color: $color-primary-red;
			textarea {
				color: $color-primary-red;
				&::placeholder {
					color: $color-primary-red;
				}
			}

			i {
				color: $color-primary-red;
			}
		}
	}
}
