@use '../../../assets/variables' as *;
@use '../../../assets/base' as *;
@use '../../../assets/extensible' as *;
@use '../../../assets/icons/variables.scss' as *;

.fieldDate {
	display: flex;
	flex-direction: column;
	gap: 8px;
	@include body-regular;
	font-size: 14px;
	width: fit-content;

	&__main {
		display: flex;
		flex-direction: column;
		gap: 8px;
		width: fit-content;
		&--row {
			flex-direction: row;
			gap: 12px;
			.fieldDate__label {
				padding-top: 12px;
			}
		}
	}

	&__label {
		display: flex;
		flex-direction: row;
		gap: 4px;
		width: fit-content;

		label {
			@include body-bold;
			font-size: 14px;
			color: $color-secondary-black-66;
		}

		&--required {
			color: $color-primary-red;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	&__field {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		width: fit-content;
		gap: 12px;
		border: 1px solid $color-grey;
		border-radius: 4px;
		padding: 12px;
		background: $color-white;
		box-shadow: 0px 0px 2px 0px $color-shadow;

		i {
			font-size: 18px;
			color: $color-primary-green;
			cursor: pointer;
		}

		input[type='date'] {
			@include body-regular;
			font-size: 14px;
			background: transparent;
			border: none;
			color: $color-secondary-black-66;
			&::placeholder {
				color: $color-grey;
				&:first-letter {
					text-transform: capitalize;
				}
			}
			&:focus-visible {
				outline: none;
			}
			&:disabled,
			&:read-only {
				cursor: not-allowed;
			}
		}
	}

	&__helpText {
		color: $color-secondary-black-33;
		width: fit-content;
		font-size: 12px;
	}

	&__errorMessage {
		color: $color-primary-red;
		width: 190px;
		font-size: 13px;
		white-space: normal;
		overflow-wrap: break-word;
	}

	&--disabled {
		.fieldDate__field {
			background: $color-grey-02;
		}
	}

	&--error {
		.fieldDate__field {
			background: $color-error;
			border-color: $color-primary-red;
			input[type='date'] {
				color: $color-primary-red;
			}
		}
	}
}
