@use '../../../assets/variables' as *;
@use '../../../assets/base' as *;

a {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
	color: $color-primary-green;
	text-decoration: none;

	span {
		@include links;
	}

	i {
		font-size: 18px;
		color: $color-primary-green;
	}

	&:hover {
		span {
			text-decoration: underline;
			text-shadow: 0px 1px 1px $color-shadow;
		}
		cursor: pointer;
	}

	&.secondary {
		color: $color-white;
		i {
			color: $color-white;
		}
	}

	&.iFirst {
		flex-direction: row-reverse;
	}
}
