@use '../../../assets/variables' as *;
@use '../../../assets/base' as *;

.header {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 24px 48px;
	box-shadow: 0px 2px 4px 0px $color-shadow;
	&__logo {
		img {
			width: 220px;
		}
	}
	&__userActions {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 24px;
		color: $color-primary-green;

		i {
			font-size: 24px;
			cursor: pointer;
			color: $color-primary-green;
		}

		&--info {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			border: 1px solid $color-primary-green;
			border-radius: 12px;
			padding: 12px;
			gap: 8px;
			@include body-regular;
			cursor: pointer;

			i {
				&.icon-user {
					border: 1px solid $color-primary-green;
					padding: 6px;
					border-radius: 50%;
				}
				&.icon-more {
					transform: rotate(90deg);
					margin-left: 12px;
				}
			}
		}
	}
}
