<h1>Código a incluir en TS para el correcto funcionamiento</h1>
<p>Imports</p>
<code>import &#123; UiPasswordComponent &#125; from '&#64;agroseguro/lib-ui-agroseguro'; </code>

<br /><br />

<p>Dentro del decorador &#64;Component incluir:</p>
<code>imports: [UiPasswordComponent]</code>

<h1>Código de ejemplo HTML</h1>
<code> &lt;ui-password placeholder="Contraseña""&gt;&lt;/ui-password&gt; </code>

<br /><br />

<p>
	<span>** Para ver el funcionamiento completo, ver ejemplo de formulario reactivo en Inputs</span>
</p>

<h1>Inputs de tipo password</h1>
<ui-password placeholder="Contraseña"></ui-password>
<h1>Propiedades input&lt;&gt;() del componente</h1>
<p><span>placeholder</span> : Placeholder del campo</p>
<p><span>label</span> : Etiqueta del campo</p>
<p><span>[required]</span> : Valor booleano para indicar si es requerido o no</p>
<p><span>[disabled]</span> : Valor booleano para disabled</p>
<p><span>helpText</span> : Texto de ayuda del campo</p>
<p><span>[error]</span>: Propiedad para controlar el estado de error</p>
<p><span>errorMessage</span>: Texto de error a mostrar</p>
