@use '../../../assets/variables' as *;
@use '../../../assets/base' as *;

.modal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba($color-white, 0.25);

	&__content {
		position: relative;
		display: flex;
		flex-direction: column;
		margin: 36px;
		padding: 36px;
		background: $color-white;
		border: transparent;
		border-radius: 12px;
		box-shadow: 0px 0px 4px 0px rgba($color-black, 0.75);

		&.xl {
			height: 95%;
			width: 95%;
		}

		i {
			&.close {
				position: absolute;
				top: 16px;
				right: 16px;
				font-size: 12px;
				cursor: pointer;
				color: $color-primary-black;
			}
		}
	}
}
